<!DCOTYPE HTML>
<head>
<!--  -->
        <link rel="stylesheet" href="index.css">
</head>
<body>
        <header class="wrapper-header">
                <div class="content">
                        ばか
                </div>
                <div class="content">
                        ぼけ
                </div>
                <div class="content pom">
                        しね
                </div>
        </header>
        <div class="wrapper-main">

        </div>
        <footer class="wrapper-footer">
        </footer>
</body>